.title {
  font-size: clamp(24px, 2.3cqi, 40px);
  color: #fff;
  margin-bottom: 12px;

  @media (max-width: 1441px) {
    margin-bottom: 8px;
  }
}

.description {
  font-size: clamp(14px, 1.2cqi, 20px);
  max-width: 60%;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.title,
.description {
  text-align: center;
}