$button-primary: #7000FF;
$button-primary-active: #8b32ff;
$button-error: #ff3a3a;
$button-primary-text: #fff;
$button-primary-fz: 20px;
$button-primary-p: 17px 24px;
$button-primary-r: 16px;

.button {
  cursor: pointer;
  transition: all .15s ease;
  padding: $button-primary-p;
  border: none;
  border-radius: $button-primary-r;
  font-weight: 600;
  font-size: $button-primary-fz;
  text-align: center;
  font-family: InterTight;
  height: fit-content;
}

/* -------- filled -------- */

.primary {
  background-color: $button-primary;
  color: $button-primary-text;
}

.primary:hover:not(:disabled),
.primary:focus:not(:disabled),
.primary:active:not(:disabled) {
  background: $button-primary-active;
}

/* -------- outline -------- */

.secondary {
  background: transparent;
  color: $button-primary-text;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.secondary:hover:not(:disabled),
.secondary:focus:not(:disabled),
.secondary:active:not(:disabled) {
  border-color: rgba(255, 255, 255, 0.45);
  background: rgba(255, 255, 255, 0.05);
}

/* -------- disabled -------- */

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

/* -------- error -------- */

.error {
  background: $button-error;
  color: $button-primary-text;
}