$input-border: #6C6C6C;
$input-border-active: #fff;

$input-placeholder-text: hsla(0, 0%, 100%, 0.2);

$input-text: #fff;
$input-text-size: 20px;
$input-padding: 17px 24px;
$input-padding-notebook: 15px 22px;

.input {
  border: 1px $input-border solid;
  border-radius: 16px;
  font-size: $input-text-size;
  background: transparent;
  color: $input-text;
  padding: $input-padding;
  outline: none;

  @media (max-width: 1281px) {
    font-size: calc($input-text-size - 4px);
    padding: $input-padding-notebook;
  }
}

.input:focus {
  border-color: $input-border-active;
}

input::placeholder {
  color: $input-placeholder-text;
  font-size: $input-text-size;

  @media (max-width: 1281px) {
    font-size: calc($input-text-size - 4px);
  }
}