.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;

  .text {
    font-size: 32px;
    color: #fff;
  }
}