.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .label {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &_text {
      color: #fff;
      font-size: clamp(14px, 1.1cqi, 18px);
    }
  }

  .btn {
    margin-top: 14px;
  }
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  &_text,
  &_link {
    color: #fff;
  }

  &_link {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}